/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/


/* header .uabb-photo-content .uabb-photo-img{
	min-height: 80px;
} */


/* .searchIcon {
    position: absolute;
    right: 10px;
    top: 25px;
	z-index:6;
} */


/* portfolio page css */

.firefox .fl-content-slider .bx-wrapper .bx-viewport {
    overflow: visible!important;
}

.firefox .fl-content-slider .fl-slide .fl-slide-content {
    padding: 0px!important;
}

.firefox .fl-content-slider .bx-wrapper .bx-viewport .bx-loading {
    display: none!important;
}

.width_100 {
    padding: 50px 20px;
}

.postTitle>a {
    text-decoration: none!important;
}

.postTitle>a h2 {
    font-size: 16px!important;
    text-transform: uppercase;
}

.width_100 .category_title a {
    color: #b1b1b1!important;
    text-decoration: none!important;
    font-size: 14px!important;
}

.blog_detail_wrap {
    margin-top: 200px!important;
}

.width_100 .category_title a small {
    font-weight: 600;
}

.width_50 {
    width: 50%;
}

.width_100 .postTitle {
    padding-left: 50px;
}

.postTitle h2 {
    margin-bottom: 0px!important;
    line-height: 1em;
}

.postTitle .category_wrap {
    color: #cccc;
}

.postTitle .category_wrap a {
    color: #cccc;
    text-decoration: none;
}

.width_100 .tumbnail_img {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.width_100 .lightbox_icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* padding: 8px 12px;
    background-color: rgba(0,0,0,0.3); */
    z-index: 3;
    opacity: 0;
}

.width_100 .lightbox_icon i {
    color: #fff;
    font-size: 22px;
}

.width_100 .tumbnail_img:before {
    content: '';
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    z-index: 2;
    opacity: 0;
    transition: all 0.4s;
}

.width_100 .tumbnail_img:hover:before {
    opacity: 1;
}

.width_100 .tumbnail_img img {
    transition: all 0.4s;
}

.width_100 .tumbnail_img:hover img {
    transform: scale(1.1, 1.1);
}

.width_100 .tumbnail_img:hover .lightbox_icon {
    opacity: 1;
}

.inteco-widget-title,
h2.widgettitle {
    letter-spacing: 2px;
    font-size: 13px;
    margin-bottom: 30px;
}

.searchIcon {
    position: absolute;
    right: 10px;
    top: 12px;
    z-index: 6;
}

.post-gallery-img .uabb-photo-gallery-link:hover .uabb-background-mask.zoom-out {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.tagcloud a {
    border-color: #af938f;
    background-color: #af938f;
    color: #ffffff;
    font-size: 12px !important;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    float: left;
    padding: 7px 16px 8px;
    border-width: 1px;
    border-style: solid;
    margin-right: 10px;
    margin-bottom: 10px;
}

.inteco-single-magazine-author-tags a {
    background-color: #f2f2f2;
    color: #272727;
    font-size: 13px;
    font-weight: 500;
    padding: 7px 15px;
    display: inline-block;
    margin-right: 5px;
    border-color: #e6e6e6;
    margin-bottom: 5px;
}

.inteco-single-article-head-left {
    width: 58px;
    border-right-width: 2px;
    border-right-style: solid;
    line-height: 1;
    margin-top: 11px;
    margin-right: 30px;
    padding-right: 20px;
    border-color: #ffffff;
    text-align: center;
}

.inteco-single-article-head-left .inteco-single-article-date-day {
    font-size: 27px;
    font-weight: bold;
    margin-bottom: 8px;
    margin-top: -4px;
    letter-spacing: 1px;
    white-space: nowrap;
}

.inteco-single-article-head-left .inteco-single-article-date-month {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.inteco-single-article-head-right .inteco-blog-info-wrapper {
    font-size: 50px;
    font-weight: 700 !important;
    margin-bottom: 11px;
    letter-spacing: 0.5px;
}

span.inteco-head {
    margin-right: 25px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #6b6b6b !important;
}

.blog-heading~p {
    text-align: left;
}

span.inteco-head a {
    color: #6b6b6b !important;
}

span.inteco-head i {
    font-size: 16px;
    margin-right: 5px;
}

span.inteco-head:last-child {
    font-size: 14px;
}

.icon_documents_alt:before {
    content: "\69";
    font-size: 15px;
    font-family: ElegantIcons !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.post-2 .uabb-blog-posts .uabb-blog-post-inner-wrap .uabb-post-thumbnail {
    max-height: 334px;
}

.blog-heading {
    font-size: 50px;
    margin-bottom: 11px;
    letter-spacing: 0.5px;
    text-align: left;
}

.sticky-header .searchIcon {
    position: absolute;
    right: 10px;
    top: 34px;
    z-index: 6;
}

.ua-icon-tag:before {
    font-weight: bold;
}

textarea {
    text-align: left !important;
}

.product-grid.swatch h4 {
    font-family: "Lato", sans-serif;
    margin: 5px 0 5px 0 !important;
}


/* .fl-archive.container .fl-content.fl-content-left.col-md-8,
.fl-archive.container .fl-sidebar.fl-sidebar-right.col-md-4{
	margin-top: 140px;
} */


/* .transition-effect-5 .uabb-photo-gallery-link:hover img{
	transition: opacity 500ms ease-out !important;
    -moz-transition: opacity 500ms ease-out !important;
    -o-transition: opacity 500ms ease-out !important;
    -webkit-transition: opacity 500ms ease-out !important;
	webkit-transform: scale(1.05) !important;
    -moz-transform: scale(1.05) !important;
    -ms-transform: scale(1.05) !important;
    -o-transform: scale(1.05) !important;
    transform: scale(1.05) !important;
} */

.width_100 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.width_50.align_right h2 {
    font-size: 16px;
}

.product-grid.swatch h2 a {
    font-family: "Lato", sans-serif;
    color: #929292;
}

.product-grid.swatch h2 a:hover {
    color: #cf7418;
}

.searchModule {
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 9;
    padding: 20px;
    background: #cf7418;
    top: 0;
}

#wpadminbar~.fl-page header .sticky-header.sticky-header-active {
    top: 32px;
}

ul#menu-main-menu-new-header-menu li .sub-menu a:hover {
    background-color: #1c1c1c;
}

ul#menu-main-menu-new-header-menu li .sub-menu a {
    padding: 12px 15px;
}

#menu-main-menu-new-header-menu li a {
    font-family: "Lato", sans-serif !important;
}

.tag_detail_wrap {
    margin-top: 120px;
}

.portfolio_detail_wrap,
.portfolio_detail_wrap>.container>.row>.fl-content {
    margin: 0px;
}

.fl-slide-1 .fl-slide-foreground,
.fl-slide-2 .fl-slide-foreground,
.fl-slide-0 .fl-slide-foreground{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 890px;
}

.fl-slide-2 .fl-slide-foreground .fl-slide-content-wrap {
    display: none;
}

.sticky-header {
    height: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 999999;
    transition: all 0.5s;
    left: 0;
    right: 0;
    background: #0f0f0f;
}


/*   .sticky-header .searchIcon{
      top: 21px;
  } */

.sticky-header .social-icons i {
    color: #fff !important;
}

.sticky-header .phone a span:before,
.contact-showroom-info .phone a span:before {
    content: "\f095";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 5px;
}

.product-feature-sec .fl-col-group .fl-col-small.max-430 {
    max-width: 430px;
    margin: 0 auto;
    flex: 0 0 430px;
}

.product-feature-sec .fl-col-group .fl-col-small {
    flex: 0 0 50%;
}

.product-feature-sec .uabb-infobox-title-wrap {
    margin-left: 50px;
}

.home-inspi-gallary-1 .fl-module-photo:first-child img.fl-photo-img {
    height: 414px
}

.home-inspi-gallary-1 .fl-module-photo:nth-child(2) img.fl-photo-img {
    height: 338px;
}

.home-inspi-gallary-1 .fl-module-photo:nth-child(3) img.fl-photo-img {
    height: 334px;
}

.home-inspi-gallary-2 .fl-module-photo:first-child img.fl-photo-img {
    height: 600px;
}

.home-inspi-gallary-2 .fl-module-photo:nth-child(2) img.fl-photo-img {
    height: 490px;
}

.home-inspi-gallary-3 .fl-module-photo:first-child img.fl-photo-img {
    height: 237px;
}

.home-inspi-gallary-3 .fl-module-photo:nth-child(2) img.fl-photo-img {
    height: 340px;
}

.home-inspi-gallary-3 .fl-module-photo:nth-child(3) img.fl-photo-img {
    height: 510px;
}

.hover-effect-img .fl-photo {
    transform: scale(1) translate(0, 0) rotate(0)!important;
    overflow: hidden;
    transition: transform .3s ease-out, opacity .2s linear, top .3s, left .6s;
    background-color: #000;
}

.hover-effect-img .fl-photo:hover img {
    transition: width .3s, height .3s, transform .3s linear, opacity .2s linear;
    opacity: .7;
}

.hover-effect-img .fl-module-content {
    margin: 2px;
}

.testimonial-slider .fl-slide-1 .fl-slide-content {
    max-width: 830px;
    margin: 0 auto;
}

.testimonial-slider .fl-slide-1 .fl-slide-text div {
    margin: 0 !important;
    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
    padding: 15px 0px 35px !important;
}

.testimonial-slider .fl-slide-1 .fl-slide-text p {
    font-family: ArcaMajora Bold;
    margin-top: 0px !important;
    margin-bottom: 25px !important;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.6 !important;
}

.testimonial-slider .fl-slide-1 .fl-slide-content-wrap h2 {
    margin-top: 0px !important;
}

.testimonial-slider .fl-slide-1 .fl-slide-content-wrap {
    height: auto !important;
    padding: 180px 0px 80px 0px;
}

.testimonial-slider .fl-slide-1 .fl-slide-text h4 {
    font-size: 22px;
}

.fl-module-numbers .fl-number-after-text {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.fl-number-int {
    margin-right: 4px;
}

.cutom-box-shadow .fl-col-content {
    box-shadow: 0 0 45px rgba(10, 10, 10, 0.07);
    -moz-box-shadow: 0 0 45px rgba(10, 10, 10, 0.07);
    -webkit-box-shadow: 0 0 45px rgba(10, 10, 10, 0.07);
}

.border-inline span.fl-heading-text:after {
    display: inline-block;
    content: "";
    border-top: 1px solid #cf7418;
    width: 10rem;
    margin: 0 1rem;
    transform: translateY(-1rem);
    position: relative;
    top: 5px;
}

.uabb-post-wrapper .uabb-post-thumbnail img {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: opacity 300ms ease-out, transform 300ms ease-out, filter 300ms ease-out;
    -moz-transition: opacity 300ms ease-out, -moz-transform 300ms ease-out, -moz-filter 300ms ease-out;
    -o-transition: opacity 300ms ease-out, -o-transform 300ms ease-out, -o-filter 300ms ease-out;
    -webkit-transition: opacity 300ms ease-out, -webkit-transform 300ms ease-out, -webkit-filter 300ms ease-out;
}

.uabb-post-wrapper .uabb-post-thumbnail:hover img {
    transition: opacity 300ms ease-out, transform 300ms ease-out, filter 300ms ease-out;
    -moz-transition: opacity 300ms ease-out, -moz-transform 300ms ease-out, -moz-filter 300ms ease-out;
    -o-transition: opacity 300ms ease-out, -o-transform 300ms ease-out, -o-filter 300ms ease-out;
    -webkit-transition: opacity 300ms ease-out, -webkit-transform 300ms ease-out, -webkit-filter 300ms ease-out;
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: grayscale(0%);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.contact-sec .social-icons i {
    font-family: "Font Awesome 5 Brands" !important;
}

.contact-sec ul.social-icons li a i {
    font-size: 18px !important;
}

.contact-sec .storename,
.contact-sec .storename .address p {
    margin: 0;
}

.contact-sec .fl-rich-text br {
    display: none;
}

.contact-sec .phone~br {
    display: block;
}

.contact-sec .fl-rich-text>* {
    margin-bottom: 5px;
}

.contact-sec .site_url {
    color: #cf7418;
    margin-top: 10px;
    display: block;
    font-weight: 600;
}

.uabb-menu-toggle {
    display: block !important;
}

span.uabb-menu-toggle:after {
    content: '\f107';
    font-family: 'Font Awesome 5 Free';
    z-index: 1;
    font-size: inherit;
    line-height: 0;
    font-weight: 900;
}

.uabb-photo-gallery-item {
    width: 24.8% !important;
    padding: 20px!important;
}

.uabb-photo-gallery {
    margin: 0 1%!important;
}

.project-below-caption h3 {
    color: #191919;
    font-size: 16px;
    font-weight: 600 !important;
    letter-spacing: 2px;
    text-transform: none;
    margin-bottom: 15px !important;
}

.project-below-caption p a {
    color: #b1b1b1;
    font-size: 15px;
    font-family: "Lato", sans-serif;
}

.uabb-photo__gallery-filter {
    font-family: "Arcamajora Bold";
    font-weight: 600;
}

ul.uabb-photo__gallery-filters {
    margin-bottom: 30px;
}

.uabb-photo-gallery-caption {
    background-color: transparent !important;
}

.uabb-photo-gallery-link:hover .uabb-background-mask.zoom-out {
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
}

.gform_wrapper.gf_browser_chrome .gfield_checkbox li input,
.gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox],
.gform_wrapper.gf_browser_chrome .gfield_radio li input[type=radio] {
    margin-top: 1px !important;
}

.gform_body .ginput_container_checkbox .gfield_checkbox li {
    text-align: left !important;
}

.uabb-photo-gallery-link:hover img {
    -webkit-transform: scale(1.2) !important;
    transform: scale(1.2) !important;
}

.uabb-photo-gallery-item:nth-child(4n+0) {
    clear: unset !important;
    float: left !important;
}

.sub-menu .uabb-menu-toggle {
    padding-left: 10px;
    float: right;
    transform: rotate(-90deg);
    padding: 0;
    padding-top: 10px;
}

.contact-showroom-info a,
.contact-showroom-info a * {
    color: #af938f !important;
}

.contact-showroom-info .address a p {
    margin: 0px;
}

.post-349395 ul.social-icons li {
    padding: 0 30px;
}

.post-349395 ul.social-icons li a[title^=angiesList] {
    top: 12px;
}

.post-922204 .uabb-blog-posts-shadow {
    box-shadow: none !important;
}

.post-922204 .uabb-post-meta.uabb-blog-post-section {
    color: #959595;
    font-family: "Source Sans Pro", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: 600 !important;
    padding: 20px 0 0;
}

.post-922204 .uabb-posted-by a {
    color: #959595;
}

.post-922204 .uabb-blog-posts-description {
    padding-bottom: 15px;
}

.uabb-read-more-text a {
    background-color: #af938f;
    color: #ffffff !important;
    padding: 12px 28px;
}

.uabb-read-more-text a:hover {
    background-color: #2F2F2F;
}

.uabb-read-more-text a .uabb-next-right-arrow {
    display: none;
}

.post-349394 .uabb-photo-gallery-item {
    width: 25% !important;
    padding: 0px!important;
}

.post-349394 .uabb-photo-gallery {
    margin: 0px !important;
}

.post-349394 .uabb-photo-gallery img {
    max-height: 251.6px;
    min-height: 251.6px;
}

.uabb-progress-wrap {
    background: #af938f !important;
    border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    -webkit-border-radius: 3px !important;
}

.uabb-progress-box {
    height: 6px !important;
}

.uabb-progress-bar {
    background-color: #af938f !important;
    background-image: none !important;
}

.uabb-progress-value {
    color: #505050 !important;
    font-family: "Abril Fatface";
}

.suppliers-info-box .infobox-photo-above-title {
    position: relative;
}

.suppliers-info-box .uabb-imgicon-wrap .uabb-image {
    line-height: 0;
    position: absolute;
    /*     top: 94%; */
    bottom: -3%;
    left: 45%;
    background: #fff;
}

.masland-logo .uabb-imgicon-wrap .uabb-image,
.pergo-logo .uabb-imgicon-wrap .uabb-image,
.shaw-logo .uabb-imgicon-wrap .uabb-image {
    bottom: -5%;
}

.post-890867 .suppliers-info-box .uabb-imgicon-wrap .uabb-image {
    left: 40%;
}

.ceratec-logo .uabb-imgicon-wrap .uabb-image {
    bottom: -2%;
}

.shaw-logo .uabb-image .uabb-photo-img {
    max-height: 45px !important;
}

.suppliers-info-box .uabb-image .uabb-photo-img {
    width: 100px;
    max-height: 40px !important;
}

.suppliers-info-box .uabb-infobox-text {
    min-height: 182px;
}

.post-890867 .suppliers-info-box .uabb-infobox-text {
    min-height: 240px;
}

.suppliers-info-box .uabb-infobox {
    border-color: #e6e6e6 !important;
}

.fl-accordion-button-icon-left {
    opacity: 1 !important;
    padding-top: 5px;
    font-size: 18px;
    padding-right: 20px;
}

a:focus {
    outline: none !important;
    outline-offset: 0;
}

@media(min-width:1024px) {
    .product-detail-layout-5 #product-colors {
        padding-top: 200px!important;
    }
    .sticky-header.sticky-header-active {
        height: auto;
        overflow: visible;
    }
}

.bx-wrapper .bx-pager {
    padding-top: 0 !important;
    bottom: 40px;
}

.bx-wrapper .bx-pager.bx-default-pager a,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus,
.bx-wrapper .bx-pager.bx-default-pager a:hover {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 1);
    border: none;
    border-radius: 50%;
    background: transparent !important;
    width: 15px;
    height: 15px;
}

a.bx-pager-link.active:after {
    transform: scale(0.4);
    content: "";
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    background-color: rgb(255, 255, 255);
    text-indent: -999em;
    cursor: pointer;
    position: absolute;
    -webkit-transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
    transition: background-color 0.3s ease, transform 0.3s ease;
    width: 15px;
    height: 15px;
    outline: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* .searchModule {
    display: none;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.88);
    overflow-y: auto;
}
.searchModule .widget_search{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
}
.widget_search form input{
    background: transparent;
    width: 100%;
    border-width: 0px 0px 3px;
    font-size: 40px;
    padding: 25px 120px 40px 0px;
    line-height: 1;
    letter-spacing: 0.5px;
} */

.fl-slide-1 .fl-slide-content-wrap {
    height: 890px;
    display: flex;
    align-items: center;
}

.fl-slide-1 .fl-slide-content-wrap h2 {
    margin-top: 140px !important;
    /* 	margin-left: 20px !important; */
}

.fl-slide-title,
.fl-slide-text>* {
    line-height: 1 !important;
}

.over-25-sec-wrap h1.fl-heading {
    font-weight: 800 !important;
}

.over-25-sec-wrap .fl-photo-content img {
    height: 206px;
}

.fl-module-content-slider .bx-wrapper {
    margin: 0;
}


/* ul.social-icons li{
    margin: 0px 5px 10px 10px;
} */

ul.social-icons li {
    margin: 10px 5px 10px 10px;
}

.finance-btn {
    display: none !important;
}

ul.social-icons li a i,
i.ua-icon-search {
    font-weight: bold !important;
}

.ua-icon-search {
    cursor: pointer;
}


/* header .social-icons li:nth-child(2){
	margin-right: -1px;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 800 !important;
}

.home-info-box-wrap .fl-module-info-box .fl-module-content {
    box-shadow: 0 0 68px rgba(17, 17, 17, 0.11);
    -moz-box-shadow: 0 0 68px rgba(17, 17, 17, 0.11);
    -webkit-box-shadow: 0 0 68px rgba(17, 17, 17, 0.11);
    background-color: #ffffff;
    background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.4));
    -moz-background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.4));
    -o-background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.4));
    -webkit-background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.4));
    margin: 0px 55px 0px 100px;
    padding: 75px 85px 36px 55px;
}

.home-info-box-wrap .fl-module-info-box .fl-module-content .uabb-infobox-text-wrap .uabb-infobox-text {
    padding: 20px 20px 5px;
    background: #fff;
}

.home-info-box-wrap .fl-module-info-box .fl-module-content .uabb-infobox-text-wrap .uabb-infobox-text p {
    margin-bottom: 20px;
    padding: 0;
}

.home-info-box-wrap .fl-module-info-box .fl-module-content .uabb-creative-transparent-btn {
    padding: 0 0 5px;
    border: 0;
    border-bottom: 6px solid #d8d8d8;
}

.home-info-box-wrap .fl-module-info-box .fl-module-content .uabb-creative-transparent-btn span {
    font-size: 16px !important;
}

.home-info-box-wrap .fl-module-info-box .fl-module-content .uabb-creative-transparent-btn span i {
    font-size: 19px !important;
}

.fl-accordion-button-label {
    font-size: 20px !important;
}

.home-info-box-wrap .uabb-infobox-button {
    margin-top: 5px !important;
    padding-bottom: 30px;
}

.home-info-box-wrap .uabb-infobox-title {
    margin-bottom: 20px;
}

.home-info-box-wrap .info-btn:hover {
    color: #9a827d !important;
    background: transparent !important;
}

.home-info-box-wrap .info-btn:hover span,
.home-info-box-wrap .info-btn:hover i {
    color: #9a827d !important;
}

ul.social-icons li a i {
    font-size: 16px;
}

.search-icon-wrap {
    position: absolute;
    right: 10%;
    top: 11%;
}

.gform_button {
    text-align: center !important;
}

@media(min-width: 1000px) and (max-width:1024px) {
    .max-width-issue~div .fl-col-content {
        padding-left: 38px;
        padding-right: 38px;
    }
    .sticky-header div.fl-module-uabb-advanced-menu .uabb-creative-menu.uabb-menu-default .menu>li>.uabb-has-submenu-container>a,
    .sticky-header div.fl-module-uabb-advanced-menu .uabb-creative-menu.uabb-menu-default .menu>li>a {
        padding-left: 7px;
        padding-right: 7px;
    }
}

@media screen and (min-width: 960px) {
    .fl-page-bar .storename .phone a {
        font-size: 14px!important;
    }
    .fl-page-bar-nav>li>a {
        padding: 2px 10px;
        font-size: 14px;
        font-family: "Lato", sans-serif !important;
    }
    .fl-page-bar .storename .phone a span:before {
        content: "\f095";
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        text-decoration: inherit;
        vertical-align: middle;
        margin-right: 5px!important;
        font-size: 18px!important;
    }
    .search-result {
        padding-top: 170px;
    }
    #djcustom-header {
        position: absolute!important;
        top: 30px!important;
    }
    .sub-menu a {
        color: #000!important;
    }
}

@media(max-width:992px) {
    .searchIcon {
        position: absolute;
        right: 176px;
        top: 25px;
    }
    #responsive-menu-container #responsive-menu-search-box,
    #responsive-menu-container #responsive-menu-additional-content,
    #responsive-menu-container #responsive-menu-title {
        padding: 10px 5% !important;
    }
}

@media(max-width:768px) {
    .main-header-wrap .fl-col-group {
        display: flex !important;
        align-items: center;
    }
    /* 	.fl-archive.container .fl-content.fl-content-left.col-md-8,
	.fl-archive.container .fl-sidebar.fl-sidebar-right.col-md-4{
		margin-top: 0px;
	} */
    .max-width-issue .fl-col-content {
        max-width: 400px !important;
        margin: 20px auto !important;
    }
    .searchIcon {
        right: 208px;
    }
    /*     button#responsive-menu-button{
        top: 58px !important;
    } */
    button#responsive-menu-button {
        top: 38px !important;
    }
    .sticky-header~div {
        height: 0;
        display: none;
    }
    /*     div.social-icons{
        margin-top: 30px;
    } */
    .searchIcon {
        top: 11px;
    }
    div.social-icons {
        margin-top: 15px;
    }
    div.search-icon-wrap {
        margin-top: 15px;
    }
    .main-home-page-slider .fl-slide-0 .fl-slide-foreground,
	.main-home-page-slider .fl-slide-1 .fl-slide-foreground,
    .main-home-page-slider .fl-slide-2 .fl-slide-foreground{
        height: auto;
    }
    .fl-slide-1 .fl-slide-foreground,
	.fl-slide-0 .fl-slide-foreground{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .fl-slide-1 .fl-slide-bg-photo,
	.fl-slide-0 .fl-slide-bg-photo{
        position: absolute !important;
    }
	div.fl-content-slider .fl-slide-0 {
		min-height: 790px !important;
	}
    .main-home-page-slider .fl-slide-1.fl-slide .fl-slide-content{
        height: 768px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .main-home-page-slider .fl-slide-1 .fl-slide-content-wrap {
        justify-content: center;
    }
    .fl-builder-content .fl-module-content-slider .fl-slide-1.fl-slide .fl-slide-content .fl-slide-title {
        margin: 0 !important;
    }
    .fl-content-slider .fl-slide.fl-slide-1 {
        min-height: 768px !important;
    }
    .home-inspi-gallary-1 .fl-module-photo img.fl-photo-img,
    .home-inspi-gallary-2 .fl-module-photo img.fl-photo-img,
    .home-inspi-gallary-3 .fl-module-photo img.fl-photo-img {
        height: 350px !important;
        width: 100%;
    }
    .testimonial-slider .fl-slide-1 .fl-slide-content-wrap {
        padding: 120px 0px 80px 0px;
    }
    .post-349394 .uabb-photo-gallery img {
        max-height: 350px;
        min-height: 350px;
    }
    .post-349394 .uabb-photo-item-grid {
        width: 100% !important;
        margin: 20px 0px;
    }
    .post-890868 .uabb-photo-item-grid {
        width: 50% !important;
    }
    .post-349394 .uabb-photo-gallery {
        margin: 20px 40px !important;
    }
    .blog_detail_wrap {
        margin-top: 0px;
    }
}

@media(max-width:767px) {
    .home-info-box-wrap .fl-module-info-box .fl-module-content {
        margin: 0 20px;
        padding: 60px 15px 60px 15px;
    }
    .product-feature-sec .fl-col-group .fl-col-small.max-430,
    .product-feature-sec .fl-col-group .fl-col-small {
        flex: 1 1 auto !important;
    }
    .fl-content-slider .fl-slide.fl-slide-1,
    .main-home-page-slider .fl-slide-1.fl-slide .fl-slide-content {
        min-height: 375px !important;
    }
    .main-home-page-slider .fl-slide-1.fl-slide .fl-slide-content {
        height: 375px;
    }
    .testimonial-slider .fl-content-slider .fl-slide.fl-slide-1 {
        min-height: 630px !important;
    }
    .testimonial-slider .fl-slide-1 .fl-slide-content-wrap {
        padding: 100px 0px 80px 0px;
    }
    .width_100 {
        flex-direction: column;
    }
    .width_100>div {
        order: 1;
        width: 100%;
    }
    .width_100>div.postTitle {
        order: 2;
    }
    .width_100 .postTitle {
        padding-left: 10px;
    }
    .width_100 {
        padding: 20px 20px;
    }
}

@media(max-width:430px) {
    .suppliers-info-box .uabb-imgicon-wrap .uabb-image {
        left: 35%;
    }
    /*     .logo-wrap img.uabb-photo-img {
        width: 100px !important;
    } */
    .logo-wrap img.uabb-photo-img {
        width: 230px !important;
    }
    header .search-icon-wrap,
    header .social-icons {
        display: none !important;
    }
    div.social-icons ul.social-icons {
        text-align: left !important;
        margin-left: -70px;
    }
    .contact-sec.fl-col>.fl-col-content {
        padding-left: 50px !important;
    }
    .post-890868 .uabb-photo-item-grid {
        width: 100% !important;
    }
    .searchIcon {
        right: 238px;
        top: 14px;
    }
    button#responsive-menu-button {
        top: 15px !important;
        width: 40px !important;
        height: 40px !important;
    }
}

@media(max-width:375px) {
    div.social-icons ul.social-icons {
        margin-left: -60px;
    }
    .searchIcon {
        right: 213px;
    }
}

@media(max-width:320px) {
    .searchIcon {
        right: 178px;
    }
    ul.social-icons li {
        margin: 0px 5px 10px 2px;
    }
}